//http://alijafarian.com/jquery-horizontal-slideout-menu/
.menu {
    //default position: behind content (z-index -100) and transparent
    opacity: 0;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 70px;
	background: #FFF none repeat scroll 0% 0%;
	z-index: -100;
	overflow: hidden;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;

    &--open {
        //move to front with z-index and make it opaque
        display:block;
        opacity:1;
        z-index: 1000;
    }

    &__close-btn {
        cursor: pointer;
        width: 40px;
        height: 40px;
        float: right;
        position: relative;
        clear: both;
        vertical-align: middle;
    }
    &__line {
        width: 40px;
        height: 5px;
        position: absolute;
        top: 20px;
        left: 20px;
        margin-left: -20px;
        background: #D6D6D7 none repeat scroll 0% 0%;
        &--left {
            transform: rotate(45deg);
        }
        &--right {
            transform: rotate(-45deg);
        }
    }
    &__list {
        padding-top: 50px;
        text-align: right;
        float: right;
        clear: right;
    }
    &__item {
        margin-bottom: 30px;
        &--email {
            padding-top: 30px;        
        }
    }
    &__link{
        text-decoration:none;
        font-size: 38px;
        line-height: 38px;
        font-family: HelveticaNeueCyr-Light,sans-serif;
        color: $primary-color;
        position: relative;
        &--contact{
            margin-bottom: 35px;
            padding-bottom: 2px;
            font-size: 33px;
            color: $link-color;
            border-bottom: 2px solid #D6D6D7;
            transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            &:hover {
                border-color: $description__link-hover-color;
            }
        }
    }
    &__dot{
        border-radius: 100%;
        background-clip: padding-box;
        width: 8px;
        height: 8px;
        position: absolute;
        left: -20px;
        top: 20px;
        opacity: 0;
        transition: $main-transition;
        &--current, &--mouseover {
            opacity: 1;
        }
        &--portfolio {background-color: $portfolio-color; }
        &--studio { background-color: $studio-color; }
        &--price { background-color: $price-color; }
        &--contacts { background-color: $contacts-color; }
    }
}
